include ../../mixins/_link.pug
include ../../data/_directions-list.pug

.header__bottom
  .container.header__container.flex 
    ul.header__directions-list.directions.flex
      - for (var i = 0; i < directionsList.length; i++)
        li.directions__item
            button.directions__btn
              span= directionsList[i]
              svg(width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M11 1L6 6.00001L0.999997 1" stroke="white")
            .directions__dropdown
              .simplebar-container
                ul.simplebar.directions__surnames
                  each t, n in list[i]
                    +li(class= n.slice(1)).directions__surname
                      +link(n, t)(class='directions__link')
            