include ../../mixins/_link.pug
include ../../mixins/_directions__item.pug
include ../../variables/_vars-artists.pug

//- Список направлений
-
  var directionsList = [
    'Реализм',
    'Импрессионизм',
    'Постимпрессионизм',
    'Авангард',
    'Футуризм',
  ]

.header__bottom
  .container.header__container.flex 
    ul.header__directionsList.directions
      - for (var i = 0; i < directionsList.length; i++)
        li.directions__direction
            button.directions__btn= directionsList[i]
            .directions__dropdown
              .simplebar-container
                ul.simplebar.directions__surnames
                  each t, n in list[i]
                    li.directions__surname
                      +link(n, t)(class='surnames__link')
            