include ../../mixins/_link.pug

//- Список художников и ссылки на каталог

//- Realism
-
  var listRealismArtists = {
    '#tintoreto': 'Тинторетто',
    '#friedrich': 'Фридрих',
    '#leonardo': 'Леонардо',
    '#verrocchio': 'Верроккьо',
    '#tintoreto': 'Тинторетто',
    '#friedrich': 'Фридрих',
    '#leonardo': 'Леонардо',
    '#verrocchio': 'Верроккьо',
  }

//- Impressionism
-
  var listImpressionismArtists = {
    '#monet': 'Моне',
    '#sisley': 'Сислей',
    '#manet': 'Мане',
    '#renoir': 'Ренуар'
  }

//- Postimpressionism

-
  var listPostimpressionismArtists = {
    '#vangogh': 'Ван Гог',
    '#cezanne': 'Сезанн',
    '#gauguin': 'Гоген',
    '#seurat': 'Сёра',
  }

//- Vanguard

-
  var listVanguardArtists = {
    '#kandinsky': 'Кандинский',
    '#marinetti': 'Маринетти',
    '#malevich': 'Малевич',
  }

//- Futurism

-
  var listFuturismArtists = {
    '#carra': 'Карра',
    '#severini': 'Северини',
    '#balla': 'Балла',
    '#pratella': 'Прателла'
  }

.header__bottom