-
  var menuItems = {
    '#about': 'О нас', 
    '#gallery': 'Галерея', 
    '#catalog': 'Каталог', 
    '#events': 'События',
    '#': 'Издания', 
    '#projects':  'Проекты', 
    '#contacts': 'Контакты',
    }