//- Список художников и ссылки на каталог

-
  var list = [
    {
      '#tintoreto': 'Тинторетто',
      '#friedrich': 'Фридрих',
      '#leonardo': 'Леонардо',
      '#verrocchio': 'Верроккьо',
      '#tintoreto': 'Тинторетто',
      '#friedrich': 'Фридрих',
      '#leonardo': 'Леонардо',
      '#verrocchio': 'Верроккьо',
    },

    {
      '#monet': 'Моне',
      '#sisley': 'Сислей',
      '#manet': 'Мане',
      '#renoir': 'Ренуар',
    },

    {
      '#vangogh': 'Ван Гог',
      '#cezanne': 'Сезанн',
      '#gauguin': 'Гоген',
      '#seurat': 'Сёра',
    },

    {
        '#kandinsky': 'Кандинский',
        '#marinetti': 'Маринетти',
        '#malevich': 'Малевич',
    },

    {
        '#carra': 'Карра',
        '#severini': 'Северини',
        '#balla': 'Балла',
        '#pratella': 'Прателла',
    }
  ]