// basic
$black: #000
$white: #FFFFFF

// ----- variables for header ----- //

// bg color
$header__top-bg: $black
$header__bottom-bg: rgba(0, 0, 0, 0.4)

//nav links & directions-btn color
$header__link-hover: #C283F3
$header__link-focus: #7943A4
$header__link-active: #7943A4

// directions-link color
$directions-link-border: #9D5CD0
$directions-link-fill: rgba(194, 131, 243, 0.4)







$section-title-color: #333333
$section-title-color--light: #FFFFFF